# Backend (Spring Boot)
/backend/target/
/backend/.idea/
/backend/.mvn/
# Spring Boot configuration
/backend/src/main/resources/application.properties


# Frontend (Vue.js or React.js)
/frontend/node_modules/
/frontend/.env

# General
.DS_Store
